---
layout: layouts/home.njk
title: About David Tucker - DavidTucker.net
eleventyNavigation: 
  key: About
  order: 2
--- 
<section class="mt-10 pb-10">
  <h1>About Me</h1>
</section>

<section class="content">
  <p>David is the founder of Mind Mill Consulting, and he serves as a CTO Consultant for organizations that are looking to create custom cloud-native software.</p>
  <figure>
    <img src="/images/david-tucker-1.jpg" />
    <figcaption>Image courtesy of Pluralsight's Cloud Tracker Series</figcaption>
  </figure>
  <p>During his consulting career, David worked to craft initiatives with companies like FedEx, Sony Music, Principal Financial Group, Unilever, AT&T and many others. He was the lead architect on award winning projects like Jimi Hendrix: The Complete Experience for Sony Music and the iPad Table.</p>

  <h2>Publications</h2>

  <p>David is currently an author for Pluralsight. Over his career he has provided industry insights for Mashable, VentureBeat, Adobe's Inspire Magazine, as well as many publications. He has authored published works for Pluralsight, O'Reilly, Lynda.com (now LinkedIn Learning), and Egghead.io.</p>

  <img src="/images/publications.png" alt="Publication logos" />

  <h2>Speaking</h2>

  <p>David presents at many industry events annually. These include conferences like AdTech, Interop, FITC Screens, Mobile+Web Devcon, Adobe Max, and many others. If you are interested in having me speak at your event, please contact me.</p>

  <h2>Awards</h2>

  <p>During his career, David has worked on several award-winning projects and initiatives. Some of these are detailed below:</p>

  <ul>
    <li>Webby Award (Mobile Innovation & Experimentation) - iPad Table</li>
    <li>Webby Honoree - Jimi Hendrix: The Complete Experience</li>
    <li>W3 Gold Award - FedEx SenseAware</li>
    <li>Adobe Max Award Finalist - FedEx SenseAware</li>
    <li>Adobe Max Award finalist - CDE Growth Project</li>
    <li>Adobe Max Master</li>
    <li>Adobe Community Professional</li>
  </ul>
</section>