---
layout: layouts/base.njk
title: Blog Posts - DavidTucker.net
eleventyNavigation: 
  key: Blog
  order: 3
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---

<section class="mt-10 pb-0">
  <h1>Blog Posts</h1>
</section>

<section class="content">

{% include "postslist.njk" %}

</section>

{% include "pagination.njk" %}