---
layout: layouts/base.njk
title: Blog Posts - DavidTucker.net
eleventyNavigation: 
  key: Blog
  order: 3
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---

<section class="mt-10 pb-6">
  <h1>Blog Posts</h1>
</section>

<section class="content">

{% include "postslist.njk" %}

{% for pageEntry in pagination.pages %}
<a href="{{ pagination.hrefs[ loop.index0 ] }}">Page {{ loop.index }}</a>
{% endfor %}

</section>